<template name="home">
{{#if currentUser}}
	{{> dashboard}}
{{else}}
<div class="index text-center">
  <h1 id="intro-text">Welcome to The Executive's Best Kept Secret</h1> 
  <p class="lead">{{appTitle}} teaches you the top business books through video</p>
  <button type="submit" class="btn btn-secondary form-padding">Browse Bookshelf</button>
  <br>
</div>
 <div class="template-home">
    <div class="page-header text-center">
      <h1>Upcoming Releases</h1>
    </div>
 </div>
{{/if}}
</template>
