<template name="movie">
	<div class="col-sm-6 col-md-3">
	              <div class="thumbnail">
	                <img class="img-rounded book-cover" src="images/cover-test.jpg">
	                <div class="caption text-center">
	                  <h3>Thumbnail label</h3>
	                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
	                  <p><a href="#" class="btn btn-warning" role="button">Watch</a> <a href="#" class="btn btn-default" role="button">Purchase</a></p>
	                </div>
	              </div>
	</div>
</template>