<template name="videoItem">
	<div class="col-sm-6 col-md-3">
	              <div class="thumbnail">
	                <a href="#" data-content="{{bookDesc}}" rel="popover" data-placement="left" data-original-title="{{bookTitle}}" data-trigger="hover" data-toggle="popover"><img class="img-rounded book-cover" src="{{bookCover}}"></a>
	                <div class="caption text-center">
	                  <h3>{{bookTitle}}</h3>
	                  <p><a href="#" class="btn btn-warning" role="button">Watch</a> <a href="#" class="btn btn-default" role="button">Purchase</a></p>
	        </div>
	    </div>
	</div>
</template>

